[submodule "vendor/qoopido.js"]
	path = vendor/qoopido.js
	url = git://github.com/dlueth/qoopido.js.git
[submodule "vendor/qoopido.emerge"]
	path = vendor/qoopido.emerge
	url = git://github.com/dlueth/qoopido.emerge.git
